<div class="flex flex-col space-y-3 max-w-sm">
  <h3 class="text-based font-poppins font-bold text-lg md:text-xl lg:text-2xl">Languages I speak.</h3>
  <div class="grid grid-cols-2 text-sm sm:text-base gap-x-6 gap-y-1 lg:gap-y-2">
    <%= render 'shared/list_item', text: 'Python' %>
    <%= render 'shared/list_item', text: 'Ruby' %>
    <%= render 'shared/list_item', text: 'JavaScript' %>
    <%= render 'shared/list_item', text: 'C#' %>
    <%= render 'shared/list_item', text: 'C' %>
    <%= render 'shared/list_item', text: 'C++' %>
  </div>
</div>
<div class="flex flex-col space-y-2 max-w-sm">
  <h3 class="text-based font-poppins font-bold text-lg md:text-xl lg:text-2xl whitespace-nowrap">Frameworks I've used.</h3>
  <div class="grid grid-cols-2 text-sm sm:text-base gap-x-6 gap-y-1 lg:gap-y-2">
    <%= render 'shared/list_item', text: 'Rails' %>
    <%= render 'shared/list_item', text: 'Django' %>
    <%= render 'shared/list_item', text: 'ASP.NET' %>
    <%= render 'shared/list_item', text: 'React.js' %>
    <%= render 'shared/list_item', text: 'Express.js' %>
  </div>
</div>
